- include_stylesheet 'admin/events_calendar/events'
- include_stylesheet calendar_date_select_stylesheets
- calendar_date_select_javascripts.each{|f| include_javascript f}

%h1 Edit Event

= render :partial => 'form'
- if defined?(TextileEditorExtension)
  = render 'admin/pages/link_popup'
  = render 'admin/pages/image_popup'
