- include_stylesheet 'admin/events_calendar/events'
- include_stylesheet calendar_date_select_stylesheets
- calendar_date_select_javascripts.each{|f| include_javascript f}

%h1= t('events_calendar.action.new')

= render :partial => 'form'
